$column = 60px
$gutter = 20px
$numColumns = 12
$totalWidth = $numColumns * $column + $gutter * ($column - 1)

column(col)
  width $column * col + $gutter * (col - 1)

offset(col)
  margin-left ($column + $gutter) * col + $gutter

input(col)
  width $column * col + $gutter * (col - 1) - 10px

.row
  margin-left -($gutter)
  *zoom 1

.row:before,
.row:after
  display table
  content ""

.row:after
  clear both

[class*="column"]
  float left
  margin-left $gutter

.container
  width $totalWidth

for col in 1..$numColumns
  .column{col}
    column(col)

  .offset{col}
    offset(col)

  input.column{col}
  textarea.column{col}
    input(col)

//  FORMS
input[class*="column"]
select[class*="column"]
textarea[class*="column"]
  float: none
  margin-left 0

.input-append input[class*="column"]
.input-prepend input[class*="column"]
  display: inline-block

input
textarea
  margin-left 0